body{
    font: large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    word-spacing: 0.1em;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 2em;
}
a:link {
    color: FireBrick;
    border-bottom: 1px dotted;
}
a:visited {
    color: RosyBrown;
    border-bottom: 1px dotted;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, caption, thead th {
    font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 1px #667;
}
h1 {
    font-size: 266.7%;
    line-height: 1.1;
    text-align: center;
    width: 100%;
    margin: 1.49em 0;
}
h2 {
    font-size: 210%;
    line-height: 1.3125;
    margin: 1.167em 0;
    text-align: center;
    clear: both;
}
p, ul, ol {
    font-size: large;
    margin: 1.556em 0;
}
p, ul, ol {
    font-size: large;
    margin: 1.556em 0;
}
nav{
    padding: 10px 0 0 10px;
    height: 50px;
}
header{

    height: 400px;
    
}
#page-title{
    height: 200px;
    text-align: center;
    font-size: 1em;

}
#table-content{
    line-height: 100px;
    text-align: center;
}
.rotatedHeard{
    text-align: center;
    font-size: xx-large;
    line-height: .875;
    text-shadow: 0 0 2px #667;
}
.bc, .st {
    width: 100%;
    border-collapse: collapse;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.bc thead th, .bc td {
    text-align: center;
}
pre, kbd, samp, code, var {
    font: medium/1.75 Consolas, "Andale Mono", Monaco, "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
    word-spacing: 0;
    letter-spacing: 0;
}
mark {
    display: inline-block;
    background: #ff8;
    border: 1px dotted #888;
}
.tips{
    margin: 1.75em 0;  
    border: 1px solid;
}
.tips h4 {
    margin: 0;
    padding: 4px;
    background: black;
    color: white;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.tips .inner {
  
    min-height: 253px;
    margin: 0 15px 0 0;
    padding: 0 154px 1.75em 0;
    background: white url(images/openclipart.org_johnny_automatic_little_professor.png) bottom right no-repeat;
}
.rightPointFinger{
    width: 48px;
    height: 24px;
    background-size: 48px 24px;
    background-image: url( "images/rightPointFinger.png");
    float: left;
}
.note {
    margin: 3.112em 4.94em;
}
.note span {
    display: block;
    float: left;
    font-size: 266.7%;
    line-height: 0.8;
    margin: 0 0.22em 0 -1.22em;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    float: right;
}
li{
    display: list-item;
}
.tips .moneybag {
    min-height: 300px;
    margin: 0 15px 0 0;
    padding: 0 190px 1.75em 0;
    background: white url(images/openclipart.org_johnny_automatic_bag_of_money.png) bottom right no-repeat;
}
div {
    display: block;
}
form, .footer-copyright-lable{
    font-size: medium;
    line-height: 1.75;
    margin: 1.75em 0;
    text-align: center;
}